
<main>
    <header>
        <span class="logo-control">
            <img class="logo-img" src="\assets\sass\svg\Leparler-logo.svg" alt="">
        </span>
        
        <nav class="menu-nav">
            <ul>
                <li>Quem Somos</li>
                <li>Contato</li>
                <li></li>
            </ul>
        </nav>
    </header>
    <div class="pannel">
    <section class="news">
    </section>
    <section class="banner">
        <div class="banner-content">
            <nav>
                <ul>
                    <li><a href="#">Jogos</a></li>
                    <li><a href="#">Filmes</a></li>
                    <li><a href="#">Series</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="critics"></section>
    </div>
    <footer></footer>
</main>
<div class="user-nav">
    <span class="user-img-control">
        <img class="user-img" src="\assets\sass\svg\user-default.svg" alt="">
    </span>
    <p><a href="">Logar</a></p> |
    <p><a href="">Registrar-se</a></p>
</div>
