<main>
  <header [ngClass]="{ 'scrolled': isScrolled }">
    <span class="logo-control">
      <img class="logo-img" src="\assets\sass\svg\Leparler-logo.svg" alt="" />
    </span>

    <nav class="menu-nav">
      <ul>
        <li >
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>Quem Somos</li>
        <li>Contato</li>
      </ul>
    </nav>
  </header>
  <div class="pannel">
    <section class="news">

      <app-search-bar (search)="handleSearch($event)"></app-search-bar>
      <div class="results" *ngIf="searchResults.length > 0">
        <p>Found {{searchResults.length}} results for: {{lastSearchTerm}}</p>
        <ul>
          <li *ngFor="let result of searchResults">{{ result }}</li>
        </ul>
      </div>

      <p class="section-name news-section-title">Ultimas Noticias</p>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
    </section>
    <section class="banner">
      <nav class="banner-nav">
        <ul class="banner-nav-items">
          @for (categoria of categorias; track $index) {
          <li
          class="banner-nav-items-type"
          [ngClass]="{ active: categoria === categoriaAtiva }"
          (click)="selecionarCategoria(categoria)"
        >{{ categoria }}</li>}
        </ul>
      </nav>

      <app-slider
       [images]="imagens"
      >
      </app-slider>

    </section>
   
    <section class="critics">
      <p class="section-name">Em cartaz</p>

      <app-movie-showcase>   
      </app-movie-showcase>

      <p class="section-name" >Ultimas Criticas</p>
      <div class="review-container">
        <app-review-card
          [imageUrl]="'https://images.pexels.com/photos/1181675/pexels-photo-1181675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
          [title]="'A Noite Dos Lobisomens tesssssssss'"
          [rating]="4.6"
          [username]="'Brendou Dias'"
          [reviewDate]="reviewDate1">
        ></app-review-card>
        <app-review-card
          [imageUrl]="'https://images.pexels.com/photos/1181675/pexels-photo-1181675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
          [title]="'A Noite Dos Lobisomens tesssssssss'"
          [rating]="2.2"
          [username]="'Brendou Dias'"
          [reviewDate]="reviewDate1">
        ></app-review-card>
        <app-review-card
          [imageUrl]="'https://images.pexels.com/photos/1181675/pexels-photo-1181675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
          [title]="'A Noite Dos Lobisomens tesssssssss'"
          [rating]="2.2"
          [username]="'Brendou Dias'"
          [reviewDate]="reviewDate1">
        ></app-review-card>
    </div>
    </section>
  </div>
  <footer></footer>
</main>
<div class="user-nav">
  <span class="user-img-control">
    <img class="user-img" src="\assets\sass\svg\user-default.svg" alt="" />
  </span>
  <a href="#"><button class="button-logar">Logar</button></a>
  <a href="#"><button class="button-especial">Registrar-se</button></a>
</div>
