@for(item of data; track $index){
<div class="container">
    <div class="card">
      <div class="card-image">
        <img src="{{ item.image }}">
      </div>
      <div class="card-content">
        <div class="card-header">
          <div class="card-title-block">
            <h4 class="card-title">{{item.category}}</h4>
          </div>
          <div class="card-meta-block">
            <p class="card-category">{{item.date}}</p>
            <p class="card-date"> {{item.readTime}} </p>
          </div>
        </div>
        <div class="card-body">
          <p class="card-description"> {{item.description}} </p>
        </div>
      </div>
    </div>
  </div>
  }