
<div class="container">  
  <div class="movie-showcase">
    <div 
      class="movie-block" 
      *ngFor="let movie of movies; let i = index"
      [style.background-image]="'url(' + movie.image + ')'"
      [class.active]="activeIndex === i"
      (mouseenter)="onMouseEnter(i)"
      (mouseleave)="onMouseLeave()"
      (touchstart)="onTouch(i)"
    >
      <div class="movie-details">
        <h3 class="movie-title">{{ movie.title }}</h3>
        <div class="movie-info">
          <span class="movie-rating">{{ movie.rating }}</span>
          <span class="movie-duration">{{ movie.duration }}</span>
          <span class="movie-category">{{ movie.category }}</span>
        </div>
      </div>
    </div>
  </div>
</div>