<!-- <div class="container">  
    <div class="movie-showcase">
      <div class="movie-block" style="background-image: url('https://images.pexels.com/photos/3062541/pexels-photo-3062541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
        <div class="movie-details">
          <h3 class="movie-title">Inception</h3>
          <div class="movie-info">
            <span class="movie-rating">12</span>
            <span class="movie-duration">148 min</span>
            <span class="movie-category">Sci-Fi</span>
          </div>
        </div>
      </div>
      
      <div class="movie-block" style="background-image: url('https://images.pexels.com/photos/2873486/pexels-photo-2873486.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
        <div class="movie-details">
          <h3 class="movie-title">The Dark Knight</h3>
          <div class="movie-info">
            <span class="movie-rating">14</span>
            <span class="movie-duration">152 min</span>
            <span class="movie-category">Action</span>
          </div>
        </div>
      </div>
      
      <div class="movie-block" style="background-image: url('https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
        <div class="movie-details">
          <h3 class="movie-title">La La Land</h3>
          <div class="movie-info">
            <span class="movie-rating">L</span>
            <span class="movie-duration">128 min</span>
            <span class="movie-category">Musical</span>
          </div>
        </div>
      </div>
      
      <div class="movie-block" style="background-image: url('https://images.pexels.com/photos/2507025/pexels-photo-2507025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
        <div class="movie-details">
          <h3 class="movie-title">Parasite</h3>
          <div class="movie-info">
            <span class="movie-rating">16</span>
            <span class="movie-duration">132 min</span>
            <span class="movie-category">Drama</span>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

   <div class="container">  
  <div class="movie-showcase">
    <div 
      class="movie-block" 
      *ngFor="let movie of movies; let i = index"
      [style.background-image]="'url(' + movie.image + ')'"
      [class.active]="activeIndex === i"
      (mouseenter)="onMouseEnter(i)"
      (mouseleave)="onMouseLeave()"
      (touchstart)="onTouch(i)"
    >
      <div class="movie-details">
        <h3 class="movie-title">{{ movie.title }}</h3>
        <div class="movie-info">
          <span class="movie-rating">{{ movie.rating }}</span>
          <span class="movie-duration">{{ movie.duration }}</span>
          <span class="movie-category">{{ movie.category }}</span>
        </div>
      </div>
    </div>
  </div>
</div>