// body, code {
//     background-color: rgb(93, 93, 93);
// }

po-menu{
    position: absolute;
    z-index: 99999999999999999999999999999;
}
app-navtabs{
    overflow: visible;
    z-index: 1;
}

.router-container{
    overflow-y: auto;
    height: calc(100dvh - 48px);
    margin-left: 55px;
}