// body, code {
//     background-color: rgb(93, 93, 93);
// }

po-menu{
    position: absolute;
    z-index: 9999999999999999999999999999999999999999999999;
}
app-navtabs{
    overflow: visible;
    z-index: 1;
}

.router-container{
    overflow-y: auto;
    height: calc(100dvh - 48px);
    margin-left: 55px; 
    padding-top: 60px;
}

  @media (max-width: 1200px){
    app-navtabs {
        margin-top: 40px;
        position: absolute;
        width: 100%;
        z-index: 999999;
    }
    
}
@media (max-width: 1200px){
    .router-container{
    padding-top: 90px;}
}