<div class="po-wrapper" [ngClass]="{'bg-gray': isAdmimRoute()}">
    <po-menu
        p-logo = "assets\sass\svg\leparler-logo_w.svg"
        [p-menus]="menuItems"
        [p-automatic-toggle]="true"
        [p-collapsed]="true"
        [p-search-tree-items]="true"
      >
    </po-menu>

    <po-toolbar
      class="toolbar"
      [p-notification-actions]="notifications"
      [p-notification-number]="3"
      [p-profile]="profile"
      [p-profile-actions]="profileActs"
      p-mask=""
      ></po-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
</div>