button{
    aspect-ratio: 2.5/1;
}

button.primary{
    aspect-ratio: 2.5/1;
}


button.xs {
    height: 24px;
}
button.sm {
    height: 28px;
}
button.md {
    height: 32px;
}
button.lg {
    height: 42px;
}

