
<div class="review-card" *ngFor="let data of data">
    <div class="review-image">
      <img [src]="data.image || defaultImage" alt="Review image">
    </div>
    <div class="review-content">
      <p class="review-title">{{ data.title }}</p>
      <app-star-rating [rating]="data.rating"></app-star-rating>
      <div class="review-meta">
        <span class="review-username">{{ data.username }}</span>
        <span class="review-date">{{ data.reviewDate | date:'mediumDate' }}</span>
      </div>
    </div>
</div>